@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

body {
    width: 50%;
    margin: auto;
    background-color: white;
}

h1, h2, p, li, strong {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h2 span {
    font-size: 1rem;
    font-family: "Contrail One", sans-serif;
}

p, strong {
    font-size: 1.8rem;
}

footer p {
    float: right;
    font-size: 1rem;
}

li {
    font-size: 1.5rem;
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

main section {
    margin-top: 2rem;
}

.highlight-red,
.highlight-blue,
.highlight-yellow,
.highlight-green  {
    position: relative;
}

.highlight-red:before,
.highlight-blue:before ,
.highlight-yellow:before,
.highlight-green:before  {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}

.highlight-red {
    background-color: rgb(255, 0, 238);
}

.highlight-blue {
    background-color: rgb(61, 145, 255);
}

.highlight-yellow {
    background-color: yellow;
}

.highlight-green {
    background-color: rgb(145, 255, 0);
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.socials a {
    font-size: 1.5rem;
    color: black;
}

.logo {
    width: 130px;
    border-radius: 999px;
}
